colorama
Flask
jieba
openai
pandas
psutil
PyAutoGUI
Requests
snownlp
SQLAlchemy
tenacity
Werkzeug
wxauto==3.9.11.17.5
apscheduler
schedule
dotenv
requests
urllib3==1.26.3
pydantic==1.10.21

python-docx
pandas
openpyxl

sentence-transformers
faiss-cpu
numpy==1.26.4
openai
ruamel.yaml
mysql-connector-python
transformers==4.30.2
torch==2.0.1
