Flask
Werkzeug
requests
httpx
urllib3==1.26.3

pandas
SQLAlchemy
mysql-connector-python
python-docx
numpy==1.26.4
ruamel.yaml
pyyaml

openai>=1.0.0
huggingface-hub==0.10.0
sentence-transformers==2.2.2
tiktoken
faiss-cpu==1.7.4
jieba

pyautogui
psutil
wxauto
apscheduler
schedule

pywin32
pypiwin32

dotenv
tenacity
colorama
tqdm>=4.65.0
tiktoken

pillow>=9.4.0